.container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.display-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: white;
    font-size: xx-large;
    width: 400px;
    height: 80px;
}

.row {
    display: flex;
    justify-content: flex-end;
}

.row button {
    font-size: 40px;
    align-items: center;
    border: solid black 1px;
    width: 80px;
    height: 80px;
}

/* ======================================== Button styling======================================== */

#zero-btn {
    background-color: #d8d9db;
    width: 240px;
    height: 80px;
}

#c-btn {
    background-color: #d8d9db;
    width: 160px;
    height: 80px;
}

.operators {
    color: white;
    background-color: #df974c;
}

.numbers {
    color: black;
    background-color: #d8d9db;
}
